<div class="embed-responsive embed-responsive-16by9">
<object class="embed-responsive-item"
    data="{{ site.github.url }}/assets/pdf/{{ page.course }}/Ch{{ page.chapter }}/Forelesning-{{ page.chapter }}-{{ page.section }}.pdf#toolbar=0&statusbar=0&navpanes=0&view=Fit" width="100%" height=100% type="application/pdf">
<p>Det ser ut som om nettleseren din ikke støtter innebygd pdf. Du kan trykke <a href="{{ site.github.url }}/assets/pdf/{{ page.course }}/Ch{{ page.chapter }}/Forelesning-{{ page.chapter }}-{{ page.section }}.pdf">her</a> for å laste ned pdf-filen.</p></object>
</div>
