.kalk-page-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.kalk-container {
  background: #000000;
  padding: 25px;
  width: 550px;
  border-radius: 10px;
  color: white;
  gap: 40px;
  display: flex;
  align-items: start;
}

.spacer {
  grid-column: 1
}

.sidebar-container {
  background: #000000;
  grid-column: 3;
  padding: 25px;
  border-radius: 10px;
  color: white;
  align-self: center;
}

.kalk-text {
  display: block;
  margin-bottom: 20px;
  padding-left: 5px;
  width: 100%;
  font-size: 3.5rem;
  line-height: 1.25;
  text-align: end;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.kalk-keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 10px;
}

.dragging {
  opacity: 0.5;
  background-color: #444;
}

.feilmelding {
  background:red;
  border-radius:10px;
  color:white;
  padding: 10px;
  display: none;
}

.feilmelding.vis {
  display: block;
}

.infoboks {
  background:green;
  border-radius:10px;
  color:white;
  padding:10px;
  display:none;
}

.infoboks.vis {
  display:block;
}

.knappewrap {
  position: relative;
  transform: translateZ(0);
}
.kalk {
  background: #333333;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 70%;
  cursor: pointer;
  height: 65px;
  width: 65px;
  align-items: center;
}

.kalk:active,
.kalk:focus {
  filter: brightness(120%);
}


.key-operate {
  background: #ff9501;
}

.key-others {
  background: #a6a6a6;
  color: #000000;
}

.sletteknapp {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff4444;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 8px;
  line-height: 1;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}


.stackelem {
    padding: 5px 0;
    font-size: clamp(1rem, 5vw, 3.5rem);
    border-bottom: 1px solid #222;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.stackelem.longnum {
    font-size: 2.2rem;
}

.stackelem:last-child {
    border-bottom: none;
}

.input-row {
  width: 275px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.name-input {
  width: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.knapp-input {
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.build-btn {
  width: 75px;
  height: auto;
  font-size: 1.0rem;
  padding: 10px 5px;
  background-color: #8bc6ec;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.build-btn:hover {
  background-color: #6aafe0;
}
